/* general/global stuff */
body {
    padding: 30px;
    background-color: rgb(249, 218, 115);
    font-family: monospace;
}

header {
    margin: 0 auto;
    max-width: 700px;
}

.wrapper-div {
  margin: 0 auto;
  max-width: 500px;

}

iframe {
  border: 2px;
  margin: auto;
}

img {
    vertical-align: middle;
    width: 30px;
}

/* animation */

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    animation: colorRotate 3s linear 0s infinite;
  }

  .instructions {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
  }


  @keyframes colorRotate {
    from {
      color: #6363f0;
    }
    10% {
      color: #6e4de6;
    }
    75% {
      color: #7a9ed5;
    }
    100% {
      color: #6e4de6;
    }
  }


.song-add {
    display: none;
}

.submit-button:hover {
  background-color:#8cbab9;
  text-align: center;
  font-family: monospace;
}


.submit-button {
  margin: auto;
  background-color:#9bd3d2;
	border-radius: 10px;
	border: 1px solid #ffffff;
	color:#ffffff;
	font-family: monospace;
	text-decoration: none;
  width: 500px;
}


button {
  background-color:rgb(236, 246, 255);
	border-radius: 10px;
	border: 1px solid #ffffff;
	color:#17125b;
	font-family: monospace;
	font-size: 20px;
	padding: 10px 10px;
	text-decoration: none;
  margin: 5px;
  width: 478px
}

input {
  background-color:rgb(236, 246, 255);
	border-radius: 10px;
	border: 1px solid #ffffff;
	color:#17125b;
	font-family: monospace;
	font-size: 13px;
	padding: 10px 10px;
	text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
    width: 478px
}

.user-wrapper {
    padding-top: 20px;
}

.user-wrapper h2 {
    margin: 0 auto;
    width: 400px;
    padding-top: 20px;
}

.youtube-image {
  padding-left: 3px;
  height: 10px;
  width: 15px;
}

.new-song-li {
  padding-top: 3px;
  padding-bottom: 3px;
}

